---
import Layout from "../components/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import TargetAudience from "../components/TargetAudience.astro";
import Problems from "../components/Problems.astro";
import HowIWork from "../components/HowIWork.astro";
// import SocialProof from "../components/SocialProof.astro";
// import Offer from "../components/Offer.astro";
import Services from "../components/Services.astro";
import AboutMe from "../components/AboutMe.astro";
import FAQ from "../components/FAQ.astro";
import FinalCTA from "../components/FinalCTA.astro";
---

<Layout title="Главная - Психолог Лена">
  <Header />
  <main>
    <Hero />
    <TargetAudience />
    <Problems />
    <HowIWork />
    {/* <SocialProof /> */}
    {/* <Offer /> */}
    <AboutMe />
    <Services />
    <FAQ />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
